/* .singlePost{
    flex: 9;
} */

.singlePostWrapper{
    padding: 20px;
    /* padding-right: 0; */
    display: flex;
    flex-direction: column;
}

.singlePostImg{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle, .singlePostTitleInput{
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
}

.singlePostTitleInput{
    border-radius: 5px;
    border: 1px solid lightgray;
}

.singlePostTitleInput:focus, .singlePostDescriptionInput:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
}

.singlePostEdit{
    float: right;
    font-size: 16px;
}

.singlePostEditIcon{
    margin-left: 10px;
    cursor: pointer;
}

.singlePostEditIcon:first-child{
    color: teal;
}

.singlePostEditIcon:last-child{
    color: tomato;
}

.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #b39656;
}

.singlePostDescription, .singlePostDescriptionInput{
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singlePostDescription::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.editButtons{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    align-self: flex-end;
}

.updateButton, .cancelButton{
    border: none;
    padding: 5px;
    width: 100px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.updateButton{
    background-color: teal;
}

.updateButton:disabled{
    background-color: rgb(110, 140, 140);
    cursor: not-allowed;

}

.cancelButton{
    background-color: coral;
}

.writeFile {
    display: none;
}

.writeFileIcon{
    margin-top: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(121, 118, 118);
    cursor: pointer;
    margin-bottom: 5px;
}

@media screen and (max-width: 480px) {  

    .singlePostImg{
        height: 200px;
    }

    .singlePostWrapper{
        padding: 0px;
        padding-top: 20px;
    }

    .singlePostTitle{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;
    }

    .singlePostEdit{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .singlePostInfo span{
        font-size: 14px;
    }

    .checkboxWrapper label{
        font-size: 15px;
    
    }

    .singlePostTitleInput{
        font-size: 18px;
    }

    .singlePostDescriptionInput{
        font-size: 15px;
    }

    .updateButton, .cancelButton{
        width: 80px;
    }

    .writeFileIcon{
        width: 15px;
        height: 15px;
        margin-top: 10px;
    }


}