.categories {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.categoriesList {
    list-style: none;
    display: flex;
    font-size: 20px;
    gap: 20px;
    flex-wrap: wrap;
    color: #be9656;
    font-weight: bold;
}