.profile {
    display: flex;
}

.profilePageTitle {
    display: flex;
    margin-left: 10%;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: #444;
}

@media screen and (max-width: 780px) {

    .sidebar {
        display: none;
    }   

    .profile {
        flex-direction: column;
    }

    .profilePageTitle{
        justify-content: center;
        margin: auto;
        margin-top: 20px;
    }

   
}