.profileInfo {
    display: none;
}

@media screen and (max-width: 780px) {

    .profileInfo {
        display: flex;
        flex-direction: column;
        background-color: #fdfbfb;
        width: 90%;
        border-radius: 5px;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
        font-family: 'Lora', serif;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .profileInfoTop {

        display: flex;
    }

    .profileInfo img {
        width: 30%;
        max-height: 150px;
        border-radius: 5px;
        margin-left: 5px;
        object-fit: cover;
    }

    .profileDetails {
        width: 250px;
        padding-left: 20px;
    }

    .profileDetails p {
        margin-top: 20px;
    }

    .profileCategories ul{
        list-style: none;
        display: flex;
        justify-content: flex-start;
        font-size: 18px;
        flex-wrap: wrap;
        
    }

    .profileCategories ul li{
        margin-right: 20px;
        margin-top: 15px;
        
    }

    .profileCatChecked{
        font-weight: bold;
        
    }
}